.sidebarPanel {
  display: flex;
  height: 100%;
  width: 50%;
  /* background: #024A94; */
  position: relative;
  overflow: hidden;
}

.heroImage {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 8px;
  overflow-y: auto;
  min-height: 100vh;
}

/* ---------- Responsive ---------- */

@media (max-width: 1024px) {
  .sidebarPanel {
    width: 45%;
  }
}

@media (max-width: 768px) {
  .sidebarPanel {
    display: none;
  }
}